
.product-card{
    border: 1px solid rgb(226, 226, 226);
    padding: 15px;
    cursor: pointer;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    transition: all linear .2s;
    -webkit-transition: all linear .2s;
    -moz-transition: all linear .2s;
    -ms-transition: all linear .2s;
    -o-transition: all linear .2s;
}
.product-card:hover{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.product-card:hover .card-top img{
    transform: scale(1.03);
    -webkit-transform: scale(1.03);
    -moz-transform: scale(1.03);
    -ms-transform: scale(1.03);
    -o-transform: scale(1.03);
}
.card-top{
    height: 265px;
    overflow: hidden;
}
.card-top img{
    height: 100%;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    transition: all linear .2s;
    -webkit-transition: all linear .2s;
    -moz-transition: all linear .2s;
    -ms-transition: all linear .2s;
    -o-transition: all linear .2s;
}
.card-middle h2{
    font-weight: 600;
    padding: 20px 0;
    font-size: 30px;
}
.card-bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0;
}
.card-bottom h3{
    color: #0379f7;
    font-size: 35px;
    margin-bottom: 0;
    font-weight: 700;
}